.edituserinfo {
    display: flex;
    flex-direction: column;
    width : 25%;
    margin: auto;
}
.edituserinfo .input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 10px;
    align-items: center;
}
.edituserinfo input {
    width : 50%;
    border-radius: 5px;
    border-color: darkgray;
}
.edituserinfo button {
    cursor: pointer;
    border-radius: 5px;
    border-color: darkgray;

}
.edituserinfo #firstName, #lastName {
    background-color: rgb(222, 220, 220);
    color: darkgray;
}

@media (max-width: 900px) {
    .edituserinfo {
        width : 40%;
    }
}
@media (max-width: 550px) {
    .edituserinfo {
        width : 50%;
    }
}